


        <div class="error" *ngIf="HasError">
            {{ErrorMsg}}
        </div>
        <form>
            <div class="form-group"> 
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="Name" [(ngModel)]="Emp.Name" [class.error]="HasError">
            </div>
            <div class="form-group">
                <label for="Designation">Designation</label>
                <select class="form-control" name="Designation"  [(ngModel)]="Emp.Designation">
                    <option value="Developer">Developer</option>
                    <option value="Data Analyst">Data Analyst</option>
                    <option value="HR">HR</option>
                    <!-- <option value="">Data Analyst</option> -->
                </select>
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <input type="text" class="form-control" name="Location" [(ngModel)]="Emp.Location">
            </div>
            <div class="form-group">
                    <label for="Salary">Salary</label>
                    <input type="number" class="form-control" name="Salary" [(ngModel)]="Emp.Salary">
                </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="SaveData()">Save</button>
            </div>
        </form>
          
